@defer(when chat()){
<ion-item lines="none" [class]="chat()?.isCurrentUser ? 'current-user' : 'other-user'">
  <div
    class="ion-text-wrap container"
    *ngIf="chat() && chat()?.message && chat()?.message!.length > 0"
    [slot]="chat()?.isCurrentUser ? 'end' : 'start'"
  >
    <ion-text>
      {{ chat()?.message }}
    </ion-text>
    <ion-note>
      <small>{{ chat()?.timestamp | date : "HH:mm" }}</small>
      @if(chat()?.isCurrentUser){
        <ion-icon name="checkmark-done-outline"></ion-icon>
      }

    </ion-note>
  </div>
</ion-item>
}
